body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    position: relative;
    margin: 10px;
}

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 250px;
}

.maincontainer
{
    background: #870000; 
    background: linear-gradient(to top, rgba(25, 10, 5, 0.568), #87000085),
                url(comp1.jpg) no-repeat center center;
    background-size: cover;              
    height: 50vh;
    clip-path:polygon(30% 0%, 70% 0%, 100% 0, 100% 94%, 75% 94%, 64% 89%, 0 100%, 0 0);

    position: relative;
}


.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

@media only screen and (max-width:900px){
    .container{
        width: fit-content;
    
    }
}



.head1{
    font-size: 45px;
}

@media only screen and (max-width:900px){
    .head1{
        font-size: 25px;
    
    }
}

.head2{
    font-size: 38px;
}

@media only screen and (max-width:900px){
    .head2{
        font-size: 25px;
    }
}


.free{
    height:50px;
}
/* --------------------------------------Home------------------------------- */
.home{
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 20%;
}

@media only screen and (max-width:900px){
    .home{
        margin: 8px 8px;
        font-size: 25px;
    }
}
.home h2{
    font-size: 35px;
}



.home p{
    font-size: 21px;;
    line-height: 1.8;
    text-align: justify;

}

@media only screen and (max-width:900px){
    .home p{
        font-size: 18px;
        line-height: 1.9;
    }
}

/* --------------------------------Programming language------------------ */

.pro{
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 20%;
}

@media only screen and (max-width:900px){
    .pro{
        margin: 8px 8px;
        font-size: 23px;
    }
}


.pro h2{
    font-size: 35px;
}




.prolang{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows:250px;
    grid-auto-flow:dense;
    justify-items: center;
    align-items: center;

}


.program{
    display: flex;    width: 200px;
    height: 200px;
    
    background: linear-gradient(to right, #181313d8,rgba(241, 114, 30, 0.39),rgba(231, 29, 53, 0.349), #87000070),
    url(coding.jpg)no-repeat center center ;
    background-size: cover; 
    font-size: 40px;
    border-radius: 250px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: black 2px 2px 2px;
}

.program:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 60;
    font-family: 'Times New Roman', Times, serif;

}
/* -----------------------button----------------------- */

button{
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #87000070;
    width: 175px;
    height:50px;
    border-radius: 50px;
    outline: none;
    transition: all;
    position: absolute;
    left: 45%;
    transform: translate(0%-40%);
    background: #EB5757; 
    background: -webkit-linear-gradient(to right, #000000, #EB5757);  
    background: linear-gradient(to right, #000000, #EB5757); 
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

@media only screen and (max-width:900px){
    button{
        font-size: 18px;
        position: absolute;
        left: 31%;
        transform: translate(0%-35%);
    }
}

button:hover{
    transform: scale(1.2)

}

/* --------------------------footer----------------------------------------- */

footer{
    color: white;
    position: relative;
    bottom:0%;
    left:0%;
    background-image:url(comp.jpg);
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

@media only screen and (max-width:900px;){
    footer{
        font-size: 18px;
    }
}
.designer{
    font-size: 15px;
}

/* -------------------------online courses------------------------- */
.online{
    margin: 5px 20%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width:900px){
    .online{ 
        font-size: 28px;
    }
}

.onlinecourses{
     margin: 5px 20%;
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
     grid-auto-rows: 250px;
     grid-auto-flow: dense;
     justify-items: stretch;
     align-items: center;   

    }

.onlinecourses img{
    box-sizing: border-box;
    padding: 10px;
    /* padding: 5px; */
    width: 200px;
    height: 105px;
    border-radius: 8px;
    /* border: 3px solid rebeccapurple; */
    box-shadow: 1px 1px  5px rgba(0, 0, 0, 0.411);
    }

.onlinecourses p{
        color:black;
        font-size: 23px;
        
    }



 .onlinecourses a .alison{
    box-sizing: border-box;
    padding:20px;
}

 .onlinecourses a .codeacademy{
    box-sizing: border-box;
    padding:20px;
}

 .onlinecourses a .coursera{
    box-sizing: border-box;
    padding:25px;
}

/* #####################3 */

/* slider */

















